body  {
  background-color: $background-color;
}


.main-content {
   margin: 0 auto;
   width: 400px; 
   margin-top: 200px;
}


h1 {
	color: #FFF;
	font-family: 'Muli', sans-serif;
	font-size: 60px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a:link {
	text-decoration: none;
}


.buttons {
	background-color: $dark-green;
	-moz-border-radius: 15px;
  	-webkit-border-radius: 15px;
  	border: none;
  	padding: 8px;
  	margin-right: 10px;
  	transition-property: background, border-radius;
  	transition-duration: .2s, 1s;
  	transition-timing-function: linear;
}

.buttons:hover {
  background: $hover-color;
  border-radius: 50%;
}

.icon-flower {
	font-size: 50px;
	color: #FFFFF;

}

.icon-leaf {
	font-size: 50px;
	color: #FFFFF;
	
}






